/* color palette from <https://github.com/vuejs/theme> */
:root {
	--PRCompass-color: ;
	--theme-color: #6C67CD;
	--color-white: #FFFFFF;
	--color-black: #000000;
	--color-text: #000000;
	--color-background: #F5F5F5;
	--color-gray: #B5B5B5;
	--color-light-gray: #E0E0E0;
	--color-light-green: #60E486;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
	width: 1280px;
	margin: 0 auto;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
}
